
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiblioWeb</title>
    <link rel="stylesheet" href="~/css/project.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <section id="dividida">
        <div class="derecha">
            <form asp-action="Login" asp-controller="Home" method="post" class="login" id="frmLogin">
                <ion-icon name="book"></ion-icon>BiblioWeb
                <br><br>
                <h2>Inicia Sesion</h2>
                <hr><br>
                <h4><ion-icon name="mail"></ion-icon>e-mail:</h4>
                <input type="email" name="Correo" id="email" placeholder="correo electronico"  class="preInput">
                <br><br>
                <h4><ion-icon name="lock-closed"></ion-icon>Contraseña:</h4>
                <input type="password" name="Contraseña" id="contra" placeholder="contraseña"  class="preInput">
                <br><br><br>
                <button type="button"  class="preButton" onclick="Login()">INICIAR</button>
            </form>
        </div>
        <div class="izquierda">
            <form asp-action="Registrar" asp-controller="Home" method="get" class="login">
                <br><br><br>
                <h2>Registrate</h2>
                <hr><br>
                Registrate para poder disfrutar de todo lo que te ofrece
                <br>
                BiblioWeb
                <br><br><br><br>
                <button type="submit" class="preButton" >REGISTRARSE</button>                               
            </form>
        </div>
    </section>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function Login() {
            var mail = document.getElementById("email").value;
            var passw = document.getElementById("contra").value;

            var gmail = (mail.substr(-9));
            if (mail == "") {
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            } else if (passw == "") {
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            } else if (!(gmail == "gmail.com")) {
                swal("Correo No Valido", "Asegurate de que pusiste un correo valido: terminacion gmail.com", "error");
            } else { 
                frmLogin.submit();
            }    

        }
    </script>
</body>
</html>