
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIBLIOWEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/project.css">
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
</head>
<body>
    <style>
    body {
        background-image: url(/img/bg.png);
    }    
    </style>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">BIBLIOWEB</label>
        <ul>
            <li><a href="Menu.html" class="text-decoration-none">Inicio</a></li>
            <li><a href="Carrito.html" class="text-decoration-none">Carrito</a></li>
            <li><a href="IniciarSesion.html" class="text-decoration-none">Iniciar Sesion</a></li>
            <li><a href="Registrarse.html" class="active text-decoration-none">Registrarse</a></li>
        </ul>
    </nav>
    <div class="page-container">
        <form asp-action="Registrar" asp-controller="Home" method="post" class="formulario">
            REGISTRARSE
            <br><br>
            <label for="Nombre">Nombre:</label>
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre" class="input">
            <br><br>
            <label for="ApellidoPat">Apellido Paterno:</label>
            <input type="text" name="ApellidoPat" id="ApellidoPat" placeholder="Apellido Paterno" class="input">
            <br><br>
            <label for="ApellidoMat">Apellido Materno:</label>
            <input type="text" name="ApellidoMat" id="ApellidoMat" placeholder="Apellido Materno" class="input">
            <br><br>
            <label for="Correo">Correo Electronico:</label>
            <input type="email" name="Correo" id="Correo" placeholder="Correo electronico" class="input">
            <br><br>
            <label for="Contraseña">Contraseña: </label>
            <input type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña" class="input">
            <br><br>
            <button type="submit" class="button">REGISTRARSE</button>
        </form>
    </div>
</body>
</html>
