
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiblioWeb</title>
    <link rel="stylesheet" href="~/css/project.css">    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</head>
<body>
    <section class="registerContainer">
        <form asp-action="Registrar" asp-controller="Home" method="post" class="register" id="frmRegistrar">
            <ion-icon name="book"></ion-icon>BiblioWeb
            <br><br>
            <h2>Registro</h2>
            <hr>
            <br><br>
            <h4><ion-icon name="person"></ion-icon>Nombre: </h4>
            <input type="text" name="Nombre" id="nombre" placeholder="nombre" class="preInput">
            <br><br>
            <h4><ion-icon name="bookmark"></ion-icon>Apellido Paterno: </h4>
            <input type="text" name="ApellidoPat" id="apellidoP" placeholder="apellidoP" class="preInput">
            <br><br>
            <h4><ion-icon name="bookmarks"></ion-icon>Apellido Materno: </h4>
            <input type="text" name="ApellidoMat" id="apellidoM" placeholder="apellidoM"  class="preInput">
            <br><br>
            <h4><ion-icon name="paper-plane"></ion-icon>Colonia: </h4>
            <input type="text" name="Colonia" id="colonia" placeholder="colonia"  class="preInput">
            <br><br>
            <h4><ion-icon name="car"></ion-icon>Calle: </h4>
            <input type="text" name="Calle" id="calle" placeholder="calle"  class="preInput">
            <br><br>
            <h4><ion-icon name="clipboard"></ion-icon>Numero: </h4>
            <input type="text" name="Numero" id="numero" placeholder="numero"  class="preInput">
            <br><br>
            <h4><ion-icon name="mail"></ion-icon>e-mail: </h4>
            <input type="email" name="Correo" id="email" placeholder="correo electronico"  class="preInput">
            <br><br>
            <h4><ion-icon name="lock-closed"></ion-icon>Contraseña: </h4>
            <input type="password" name="Contraseña" id="contra" placeholder="contraseña"  class="preInput">
            <br><br>
            <h4><ion-icon name="document-lock"></ion-icon>Confirmar: </h4>
            <input type="password" name="contraConf" id="contraConf" placeholder="contraseña"  class="preInput">
            <br><br><br>
            <button type="button" class="preButton" id="open-popup-btn" onclick="Registro()">INICIAR</button>
            <br><br><br>
        </form>
    </section>    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function Registro() {
            var name = document.getElementById("nombre").value;
            var apP = document.getElementById("apellidoP").value;
            var apM = document.getElementById("apellidoM").value;
            var col = document.getElementById("colonia").value;
            var street = document.getElementById("calle").value;
            var num = document.getElementById("numero").value;
            var mail = document.getElementById("email").value;
            var pd = document.getElementById("contra").value;
            var pdC = document.getElementById("contraConf").value;

            var gmail = (mail.substr(-9));

            if (name == ""){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if(apP == ""){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if (apM == ""){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if (col == ""){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if (street == ""){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if (num == ""){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if (mail == ""){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if (!(gmail == "gmail.com")){
                swal("Correo No Valido", "Asegurate de que pusiste un correo valido: terminacion gmail.com", "error");
            }else if((pd == "")){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if((pdC == "")){
                swal("Campos Faltantes", "Asegurate de que los campos esten llenos", "error");
            }else if(pd == document.getElementById("contraConf").value){    
                frmRegistrar.submit();
            }
            else{
                swal("Contraseñas Distintas", "Asegurate de que las contraseñas coincidan", "error");
            }
        }
    </script>
</body>
</html>